body {
    font-family: Verdana, system-ui;
}

main {
    margin: 3px 10%;
    display: flex;
}

header {
    display: flex;
    border-style: solid;
    padding: 20px 10%;
    border-width: 0px 0px 1px 0px;
}

.logo {
    width: 97%;
}

.nav_options {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.nav_options a {
    font-family: Segoe UI, system-ui;
    font-size: 18px;
    color: #444;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav_arrow {
    display: flex;
}

.sec_left {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
}

.sec_right {
    flex-basis: 25%;
}

.news_img {
    height: 170px;
    width: 600px;
    border-radius: 10px;
}

.date {
    display: flex;
    margin-left: 0;
    margin-top: 10px;
}

.date_p {
    font-size: 11px;
    margin: auto 30px auto 0;
}


.title {
    font-size: 18px;
    margin: 10px 0 0 0;
}

.excerpt {
    font-size: 13px;
    margin: 10px 0 0 0;
}

.text_margin {
    margin-left: 40px;
}

.container_news {
    margin-top: 30px;
    display: flex;
}